[2019-08-03 20:20] evanplaice opened #1 "Fix typo in README.md"
In GitLab by @evanplaice on Jan 18, 2019, 23:06

- fix r/nexted/nested/
- add links for ISSUE_TEMPLATES

[2019-08-03 20:21] evanplaice commented on #1
In GitLab by @evanplaice on Jan 18, 2019, 23:10

changed title from **{-17-}** to **{+Fix typo in README.md+}**

[2019-08-03 20:21] evanplaice commented on #1
In GitLab by @evanplaice on Jan 18, 2019, 23:10

changed the description

[2019-08-03 20:21] evanplaice commented on #1
In GitLab by @evanplaice on Jan 18, 2019, 23:10

Added in 0.2.4

[2019-08-03 20:21] evanplaice commented on #1
In GitLab by @evanplaice on Jan 18, 2019, 23:10

closed

[2019-08-03 20:21] evanplaice commented on #1
In GitLab by @evanplaice on Jan 18, 2019, 23:10

assigned to @evanplaice

[2019-08-03 20:21] #1 closed

[2019-08-03 20:21] evanplaice opened #2 "Add Issue Templates"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

Add templates for the following

- [x] ISSUE_TEMPLATE
- [x] PULL_REQUEST_TEMPLATE
- [x] Discussion()
- [x] Type()
- [x] Operator()

[2019-08-03 20:21] evanplaice commented on #2
In GitLab by @evanplaice on Jan 18, 2019, 23:11

changed title from **{-16-}** to **{+Add Issue Templates+}**

[2019-08-03 20:21] evanplaice commented on #2
In GitLab by @evanplaice on Jan 18, 2019, 23:11

changed the description

[2019-08-03 20:21] evanplaice commented on #2
In GitLab by @evanplaice on Jan 18, 2019, 23:11

Added in release 0.2.1

[2019-08-03 20:21] evanplaice commented on #2
In GitLab by @evanplaice on Jan 18, 2019, 23:11

closed

[2019-08-03 20:21] evanplaice commented on #2
In GitLab by @evanplaice on Jan 18, 2019, 23:11

assigned to @evanplaice

[2019-08-03 20:21] #2 closed

[2019-08-03 20:21] evanplaice opened #3 "Scaffold the documentation"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

Start mapping out the documentation structure

- [x] Add links to README.md
- [x] /docs/arrays.md
- [x] /docs/objects.md
- [x] /docs/strings.md
- [x] /docs/html.md
- [x] Make available via github.io

[2019-08-03 20:21] evanplaice commented on #3
In GitLab by @evanplaice on Jan 18, 2019, 23:12

Added in 0.2.3

[2019-08-03 20:21] evanplaice commented on #3
In GitLab by @evanplaice on Jan 18, 2019, 23:12

closed

[2019-08-03 20:21] evanplaice commented on #3
In GitLab by @evanplaice on Jan 18, 2019, 23:12

assigned to @evanplaice

[2019-08-03 20:21] evanplaice commented on #3
In GitLab by @evanplaice on Jan 18, 2019, 23:12

changed title from **{-15-}** to **{+Scaffold the documentation+}**

[2019-08-03 20:21] evanplaice commented on #3
In GitLab by @evanplaice on Jan 18, 2019, 23:12

changed the description

[2019-08-03 20:21] #3 closed

[2019-08-03 20:21] evanplaice opened #4 "arrays.zip"
To quote the C#/Linq documentation for Zip:

## Milestones

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [Enumerable.Zip - MSDN](https://msdn.microsoft.com/en-us/library/dd267698(v=vs.110).aspx)

[2019-08-03 20:22] evanplaice commented on #4
In GitLab by @evanplaice on Jan 18, 2019, 23:14

changed title from **{-14-}** to **{+Operator(arrays.zip)+}**

[2019-08-03 20:22] evanplaice commented on #4
In GitLab by @evanplaice on Jan 18, 2019, 23:14

changed the description

[2019-08-03 20:22] evanplaice opened #5 "arrays.reverse"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

# arrays.reverse

Takes a two-dimensional array, and a predicate. The two-dimensional array should contain two arrays of equal length. The values of each array are compared using the predicate.

## Milestones

- [x] implemented
- [x] documented
- [x] tested
- [x] check style

## Details

Add code snippets and/or a more in-depth description of the im

[2019-08-03 20:22] evanplaice commented on #5
In GitLab by @evanplaice on Jan 18, 2019, 23:19

changed title from **{-13-}** to **{+Operator(arrays.reverse)+}**

[2019-08-03 20:22] evanplaice commented on #5
In GitLab by @evanplaice on Jan 18, 2019, 23:19

changed the description

[2019-08-03 20:22] evanplaice commented on #5
In GitLab by @evanplaice on Jan 18, 2019, 23:19

assigned to @evanplaice

[2019-08-03 20:22] evanplaice commented on #5
In GitLab by @evanplaice on Jan 18, 2019, 23:19

Added in release 0.3.0

[2019-08-03 20:22] evanplaice commented on #5
In GitLab by @evanplaice on Jan 18, 2019, 23:19

closed

[2019-08-03 20:22] evanplaice opened #6 "Add Travis-CI integration"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

CI testing makes eases the burden of collaboration.

- [x] add Travis-CI configuration
- [x] add status tag to README.md

[2019-08-03 20:22] evanplaice commented on #6
In GitLab by @evanplaice on Jan 18, 2019, 23:20

changed title from **{-12-}** to **{+Add Travis-CI integration+}**

[2019-08-03 20:22] evanplaice commented on #6
In GitLab by @evanplaice on Jan 18, 2019, 23:20

changed the description

[2019-08-03 20:22] evanplaice commented on #6
In GitLab by @evanplaice on Jan 18, 2019, 23:20

assigned to @evanplaice

[2019-08-03 20:22] evanplaice commented on #6
In GitLab by @evanplaice on Jan 18, 2019, 23:23

Added in release 0.3.1

[2019-08-03 20:22] evanplaice commented on #6
In GitLab by @evanplaice on Jan 18, 2019, 23:23

closed

[2019-08-03 20:22] #6 closed

[2019-08-03 20:22] evanplaice opened #7 "Add release badges"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

- [x] npm version
- [ ] ~~github version~~

[2019-08-03 20:22] evanplaice commented on #7
In GitLab by @evanplaice on Jan 18, 2019, 23:26

changed title from **{-11-}** to **{+Add release badges+}**

[2019-08-03 20:22] evanplaice commented on #7
In GitLab by @evanplaice on Jan 18, 2019, 23:26

changed the description

[2019-08-03 20:22] evanplaice commented on #7
In GitLab by @evanplaice on Jan 18, 2019, 23:26

assigned to @evanplaice

[2019-08-03 20:22] evanplaice commented on #7
In GitLab by @evanplaice on Jan 18, 2019, 23:26

Added in 0.4.2

[2019-08-03 20:23] evanplaice commented on #7
In GitLab by @evanplaice on Jan 18, 2019, 23:26

closed

[2019-08-03 20:23] #7 closed

[2019-08-03 20:23] evanplaice opened #8 "Add more granual operator links to README.md"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

Update README with more detailed links to the operator descriptions

[2019-08-03 20:23] evanplaice commented on #8
In GitLab by @evanplaice on Jan 18, 2019, 23:28

assigned to @evanplaice

[2019-08-03 20:23] evanplaice commented on #8
In GitLab by @evanplaice on Jan 18, 2019, 23:28

changed title from **{-10-}** to **{+Add more granual operator links to README.md+}**

[2019-08-03 20:23] evanplaice commented on #8
In GitLab by @evanplaice on Jan 18, 2019, 23:28

changed the description

[2019-08-03 20:23] evanplaice commented on #8
In GitLab by @evanplaice on Jan 18, 2019, 23:28

Added in 0.4.3

[2019-08-03 20:23] evanplaice commented on #8
In GitLab by @evanplaice on Jan 18, 2019, 23:28

closed

[2019-08-03 20:23] #8 closed

[2019-08-03 20:23] evanplaice opened #9 "strings.includes"
Search a string to see if it includes another string

## Milestones

- [x] implementation
- [x] tests
- [x] jsdoc

## References

- [String.prototype.includes - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes)

[2019-08-03 20:23] evanplaice commented on #9
In GitLab by @evanplaice on Jan 18, 2019, 23:29

changed title from **{-9-}** to **{+strings.includes+}**

[2019-08-03 20:23] evanplaice commented on #9
In GitLab by @evanplaice on Jan 18, 2019, 23:29

changed the description

[2019-08-03 20:23] evanplaice commented on #9
In GitLab by @evanplaice on Jan 18, 2019, 23:30

To reduce unnecessary cycles break early using the following approach:
https://stackoverflow.com/questions/36144406/how-to-break-on-reduce-method

[2019-08-03 20:23] evanplaice commented on #9
In GitLab by @evanplaice on Jan 18, 2019, 23:54

changed title from **{-strings.includes-}** to **{+Operator(strings.includes)+}**

[2019-08-03 20:23] evanplaice commented on #9
In GitLab by @evanplaice on Jan 18, 2019, 23:54

changed the description

[2019-08-03 20:23] evanplaice commented on #9
In GitLab by @evanplaice on Jan 18, 2019, 23:55

changed the description

[2019-08-03 20:23] evanplaice opened #10 "Operator(strings.startsWith)"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

# strings.startsWith

Check to see if a string starts with another string.

## Milestones

- [x] implemented
- [x] documented
- [x] tested
- [x] check style

## References

 - [string.prorotype.startsWith](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith)

[2019-08-03 20:23] evanplaice commented on #10
In GitLab by @evanplaice on Jan 18, 2019, 23:42

assigned to @evanplaice

[2019-08-03 20:23] evanplaice commented on #10
In GitLab by @evanplaice on Jan 18, 2019, 23:42

changed title from **{-8-}** to **{+Operator(strings.startsWith)+}**

[2019-08-03 20:23] evanplaice commented on #10
In GitLab by @evanplaice on Jan 18, 2019, 23:42

changed the description

[2019-08-03 20:24] evanplaice commented on #10
In GitLab by @evanplaice on Jan 18, 2019, 23:42

Added in 0.5.0

[2019-08-03 20:24] evanplaice commented on #10
In GitLab by @evanplaice on Jan 18, 2019, 23:42

closed

[2019-08-03 20:24] #10 closed

[2019-08-03 20:24] evanplaice opened #11 "Operator(strings.endsWith)"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

# strings.endsWith

Search a string to see if it ends with another string

## Milestones

- [x] implemented
- [x] documented
- [x] tested
- [x] check style

## References

 - [string.prototype.endsWith](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith)

[2019-08-03 20:24] evanplaice commented on #11
In GitLab by @evanplaice on Jan 18, 2019, 23:42

changed title from **{-7-}** to **{+Operator(strings.endsWith)+}**

[2019-08-03 20:24] evanplaice commented on #11
In GitLab by @evanplaice on Jan 18, 2019, 23:42

changed the description

[2019-08-03 20:24] evanplaice commented on #11
In GitLab by @evanplaice on Jan 18, 2019, 23:43

assigned to @evanplaice

[2019-08-03 20:24] evanplaice commented on #11
In GitLab by @evanplaice on Jan 18, 2019, 23:43

Added in 0.6.0

[2019-08-03 20:24] evanplaice commented on #11
In GitLab by @evanplaice on Jan 18, 2019, 23:43

closed

[2019-08-03 20:24] #11 closed

[2019-08-03 20:24] evanplaice opened #12 "arrays.tap"
Tap iterates through the values and applies a supplied function to each value without mutating the data.

Tap is an exception to the 'only use reduce' rule because reduce would add inefficiency.

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] check style

## References

- [Array.prototype.forEach - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_O

[2019-08-03 20:24] evanplaice commented on #12
In GitLab by @evanplaice on Jan 18, 2019, 23:44

assigned to @evanplaice

[2019-08-03 20:24] evanplaice commented on #12
In GitLab by @evanplaice on Jan 18, 2019, 23:44

Added in 0.4.0

[2019-08-03 20:24] evanplaice commented on #12
In GitLab by @evanplaice on Jan 18, 2019, 23:44

closed

[2019-08-03 20:24] evanplaice commented on #12
In GitLab by @evanplaice on Jan 18, 2019, 23:44

changed title from **{-6-}** to **{+Operator(arrays.tap)+}**

[2019-08-03 20:24] evanplaice commented on #12
In GitLab by @evanplaice on Jan 18, 2019, 23:44

changed the description

[2019-08-03 20:24] evanplaice opened #13 "objects.include"
Filters an object by key to only include properties whitelisted by the second arg

## Milestones

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

To accomplish this, the object needs to be:

- converted to an 2D array using Object.Entries()
- filtered by key
- converted back to an object

Due to the reliance on Object.entries() this function may not be compatible with some browsers.

##

[2019-08-03 20:24] evanplaice commented on #13
In GitLab by @evanplaice on Jan 18, 2019, 23:47

changed title from **{-5-}** to **{+Operator(objects.include)+}**

[2019-08-03 20:24] evanplaice commented on #13
In GitLab by @evanplaice on Jan 18, 2019, 23:47

changed the description

[2019-08-03 20:25] evanplaice opened #14 "objects.exclude"
Filters an object by key to only include properties not blacklisted by the second arg

## Milestones

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

To accomplish this, the object needs to be:

- converted to an 2D array using Object.Entries()
- filtered by key
- converted back to an object

Due to the reliance on Object.entries() this function may not be compatible with some browsers.

[2019-08-03 20:25] evanplaice commented on #14
In GitLab by @evanplaice on Jan 18, 2019, 23:51

changed title from **{-4-}** to **{+Operator(objects.exclude)+}**

[2019-08-03 20:25] evanplaice commented on #14
In GitLab by @evanplaice on Jan 18, 2019, 23:51

changed the description

[2019-08-03 20:25] evanplaice opened #15 "strings.repeat"
Repeats the input string a specified number of times

## Milestones

- [x] implementation
- [x] tests
- [x] jsdoc

## References

 - [String.prototype.repeat()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/repeat)

[2019-08-03 20:25] evanplaice commented on #15
In GitLab by @evanplaice on Jan 18, 2019, 23:52

changed title from **{-3-}** to **{+Operator(strings.repeat)+}**

[2019-08-03 20:25] evanplaice commented on #15
In GitLab by @evanplaice on Jan 18, 2019, 23:52

changed the description

[2019-08-03 20:25] evanplaice opened #16 "strings.padStart"
Adds padding to the start of a string

## Milestones

- [x] implemented
- [x] documented
- [x] tested
- [x] check style

## References

 - [string.prototype.padStart](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart)

[2019-08-03 20:25] evanplaice commented on #16
In GitLab by @evanplaice on Jan 18, 2019, 23:53

changed title from **{-2-}** to **{+Operator(strings.padStart)+}**

[2019-08-03 20:25] evanplaice commented on #16
In GitLab by @evanplaice on Jan 18, 2019, 23:53

changed the description

[2019-08-03 20:25] evanplaice opened #17 "strings.padEnd"
In GitLab by @evanplaice on Jan 18, 2019, 23:07

# strings.padEnd

Adds padding to the end of a string

## Milestones

- [x] implemented
- [x] documented
- [x] tested
- [x] check style

## References

 - [string.prototype.padEnd()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padEnd)

[2019-08-03 20:25] evanplaice commented on #17
In GitLab by @evanplaice on Jan 18, 2019, 23:09

changed title from **{-1-}** to **{+Fix typo in README.md+}**

[2019-08-03 20:25] evanplaice commented on #17
In GitLab by @evanplaice on Jan 18, 2019, 23:09

changed the description

[2019-08-03 20:25] evanplaice commented on #17
In GitLab by @evanplaice on Jan 18, 2019, 23:09

closed

[2019-08-03 20:25] evanplaice commented on #17
In GitLab by @evanplaice on Jan 18, 2019, 23:09

reopened

[2019-08-03 20:25] evanplaice commented on #17
In GitLab by @evanplaice on Jan 18, 2019, 23:53

changed title from **{-Fix typo in README.md-}** to **{+Operator(strings.padEnd)+}**

[2019-08-03 20:25] evanplaice commented on #17
In GitLab by @evanplaice on Jan 18, 2019, 23:53

changed the description

[2019-08-03 20:25] evanplaice opened #18 "Migrate CI to GitLab"
In GitLab by @evanplaice on Jan 18, 2019, 23:57

Migrating from GitHub means Travis-CI is no longer an option.

Change the configuration to so this project runs CI through GitLab instead.

## Milestones

- [x] Remove Travis-CI configuration
- [x] Add GitLab-CI configuration

[2019-08-03 20:25] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 00:07

changed the description

[2019-08-03 20:25] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 00:07

changed the description

[2019-08-03 20:25] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 01:08

mentioned in merge request !1

[2019-08-03 20:26] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 01:08

closed via merge request !1

[2019-08-03 20:26] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 01:09

mentioned in commit bf3022e9c8e6166c15b6751bd6f7d73cc312a44e

[2019-08-03 20:26] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 01:11

marked the task **Add GitLab-CI configuration** as completed

[2019-08-03 20:26] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 01:11

marked the task **Remove Travis-CI configuration** as completed

[2019-08-03 20:26] evanplaice commented on #18
In GitLab by @evanplaice on Jan 19, 2019, 01:12

Fixed in 0.6.1

[2019-08-03 20:26] #18 closed

[2019-08-03 20:26] evanplaice opened #19 "Transition development + testing to ES and provide ES + CJS for export"
Currently, this lib is written as ES+ with the dist files and tests being provided as CJS.

Now that Node.JS has experimental support for ESM (EcmaScript Modules), see if it's viable to run/develop/test the code natively in ES6.

## Milestones

- [x] convert tests to ES
- [x] remove chokodir watcher
- [x] verify the import entry-point works

[2019-08-03 20:26] evanplaice commented on #19
In GitLab by @evanplaice on Jan 19, 2019, 00:06

changed the description

[2019-08-03 20:26] evanplaice commented on #19
In GitLab by @evanplaice on Jan 19, 2019, 00:06

changed the description

[2019-08-03 20:26] evanplaice commented on #19
In GitLab by @evanplaice on Jan 19, 2019, 00:07

changed the description

[2019-08-03 20:26] evanplaice opened #20 "Update Issue/Merge Request template"
In GitLab by @evanplaice on Jan 19, 2019, 00:12

Make the existing templates work with GitLab and add missing templates

## Milestones

- [x] New Operator Template
- [x] Bug Template
- [x] Enhancement Template
- [x] Merge Request Template
- [x] New Type Template

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 00:12

changed the description

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **New Operator Template** as completed

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **Bug Template** as completed

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **Bug Template** as incomplete

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **Enhancement Template** as completed

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **Bug Template** as completed

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **Merge Request Template** as completed

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

marked the task **New Type Template** as completed

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

mentioned in merge request !6

[2019-08-03 20:26] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:18

created merge request !6 to address this issue

[2019-08-03 20:27] evanplaice commented on #20
In GitLab by @evanplaice on Jan 19, 2019, 03:21

closed via merge request !6

[2019-08-03 20:27] #20 closed

[2019-08-03 20:27] evanplaice opened #21 "Update 'package.json' with GitLab info and publish"
In GitLab by @evanplaice on Jan 19, 2019, 00:20

This project is still pointing to the now closed GitHub page

[2019-08-03 20:27] evanplaice commented on #21
In GitLab by @evanplaice on Jan 19, 2019, 01:15

mentioned in merge request !2

[2019-08-03 20:27] evanplaice commented on #21
In GitLab by @evanplaice on Jan 19, 2019, 01:16

closed via merge request !2

[2019-08-03 20:27] evanplaice commented on #21
In GitLab by @evanplaice on Jan 19, 2019, 01:16

mentioned in commit cf2c50256c4dfe39c378171aed21745f5dd5fdc9

[2019-08-03 20:27] #21 closed

[2019-08-03 20:27] evanplaice opened #22 "Update CI Badge in README.md"
In GitLab by @evanplaice on Jan 19, 2019, 01:33

Update the CI badge to show the GitLab-CI status

[2019-08-03 20:27] evanplaice commented on #22
In GitLab by @evanplaice on Jan 19, 2019, 01:34

mentioned in merge request !3

[2019-08-03 20:27] evanplaice commented on #22
In GitLab by @evanplaice on Jan 19, 2019, 01:34

created merge request !3 to address this issue

[2019-08-03 20:27] evanplaice commented on #22
In GitLab by @evanplaice on Jan 19, 2019, 01:40

mentioned in merge request !4

[2019-08-03 20:27] evanplaice commented on #22
In GitLab by @evanplaice on Jan 19, 2019, 01:40

closed via commit b694fba6b57ce8f34a24f504cc68e0124a866dc4

[2019-08-03 20:27] evanplaice commented on #22
In GitLab by @evanplaice on Jan 19, 2019, 01:40

closed via merge request !4

[2019-08-03 20:27] #22 closed

[2019-08-03 20:27] evanplaice opened #23 "Configure GitLab-CI for CD to NPM"
In GitLab by @evanplaice on Jan 19, 2019, 01:45

Make it so new versions are automatically published to NPM.

[2019-08-03 20:27] evanplaice commented on #23
In GitLab by @evanplaice on Jan 19, 2019, 02:00

created merge request !5 to address this issue

[2019-08-03 20:27] evanplaice commented on #23
In GitLab by @evanplaice on Jan 19, 2019, 02:00

mentioned in merge request !5

[2019-08-03 20:27] evanplaice commented on #23
In GitLab by @evanplaice on Jan 19, 2019, 02:04

closed via merge request !5

[2019-08-03 20:27] evanplaice commented on #23
In GitLab by @evanplaice on Jan 19, 2019, 02:04

mentioned in commit 13ec62f6a680fe9a53612faa04770253f34516aa

[2019-08-03 20:27] #23 closed

[2019-08-03 20:27] evanplaice opened #24 "Have any suggestions on automating the changelog?"
# CHANGELOG Update Strategy

## Introduction

This project could benefit from a changelog. The commit history is pretty clean so the ideal solution would be to somehow add the capability to compile a list of changes using the commit titles and hand-edit out any extra crap.

Please comment below if you have any suggestions.

## References

(Add Reference Links)

[2019-08-03 20:28] evanplaice opened #25 "Add CONTRIBUTING"
In GitLab by @evanplaice on Jan 20, 2019, 03:45

# Add CONTRUBUTING

Extract the contributor instructions into a separate file. Remove old links to GitHub templates.

[2019-08-03 20:28] evanplaice commented on #25
In GitLab by @evanplaice on Jan 20, 2019, 03:45

mentioned in merge request !7

[2019-08-03 20:28] evanplaice commented on #25
In GitLab by @evanplaice on Jan 20, 2019, 03:45

created merge request !7 to address this issue

[2019-08-03 20:28] evanplaice commented on #25
In GitLab by @evanplaice on Jan 20, 2019, 04:02

closed via merge request !7

[2019-08-03 20:28] evanplaice commented on #25
In GitLab by @evanplaice on Jan 20, 2019, 04:02

mentioned in commit 12396a588d094dfc2ed1bf0f05d6bf34d7af436e

[2019-08-03 20:28] #25 closed

[2019-08-04 01:46] evanplaice commented on #19
Completed in 0.8.0

[2019-08-04 01:46] #19 closed

[2019-08-04 01:47] evanplaice commented on #24
Not necessary. A project can be added for adding new features if necessary.

[2019-08-04 01:47] #24 closed

[2019-08-04 01:49] evanplaice opened #26 "strings.reverse()"
Reverses the input string

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

Takes an input string and reverses it's character order using reduce.

[2019-08-04 01:49] evanplaice commented on #26
Added in v0.9

[2019-08-04 01:49] #26 closed

[2019-08-07 00:15] evanplaice commented on #16
Implemented in v0.10

[2019-08-07 00:15] #16 closed

[2019-08-07 00:54] evanplaice commented on #17
Added in v.0.11

[2019-08-07 00:54] #17 closed

[2019-08-07 01:18] evanplaice opened #27 "arrays.chunk"
Breaks an array up into chunks of a specified size

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_chunk](https://lodash.com/docs/4.17.15#chunk)

[2019-08-07 01:21] evanplaice opened #28 "arrays.compact"
Filters all the falsy values (ie null, undefined, false, NaN, 0, "") out of an array.

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_compact()](https://lodash.com/docs/4.17.15#compact)

[2019-08-07 02:52] evanplaice commented on #27
Added in v0.12

[2019-08-07 02:52] #27 closed

[2019-08-07 03:17] evanplaice opened #29 "arrays.concat"
Concetenate any number of arrays to any level of depth

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_.concat](https://lodash.com/docs/4.17.15#concat)

[2019-08-07 03:47] evanplaice commented on #28
Added in v0.13

[2019-08-07 03:47] #28 closed

[2019-08-07 04:33] evanplaice commented on #29
Added in v0.14

[2019-08-07 06:00] evanplaice opened #30 "arrays.difference"
Find the difference between the input array and the included values

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_.difference()](https://lodash.com/docs/4.17.15#difference)

[2019-08-07 06:13] evanplaice commented on #30
Added in v0.15

[2019-08-07 06:13] #30 closed

[2019-08-07 06:23] evanplaice opened #31 "arrays.drop"
Creates a slice of an array with a specified number of items dropped from the start.

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_.drop()](https://lodash.com/docs/4.17.15#drop)

[2019-08-07 06:24] evanplaice opened #32 "arrays.dropRight"
Creates a slice of an array with a specified number of items dropped from the start.

## Checklist

- [ ] implemented
- [ ] documented
- [ ] tested
- [ ] linted

## Details

## References

- [_.dropRight()](https://lodash.com/docs/4.17.15#dropRight)

[2019-08-07 07:25] joelnet opened #33 "`endsWith('abc', 'f')` returns `true`"
`endsWith('abc', 'f')` returns `true`

## Environment

- Platform: Node
- Version: 10.15.3
- Operator: Ubuntu

## Steps to reproduce

- call function endsWith with arguments 'abc', and 'f'

## Expected behaviour

should return `false`

## Actual behaviour

returns `true`

## Code

Seems like code could be replaced with:

[code]

[2019-08-07 19:49] #33 closed

[2019-08-07 19:50] evanplaice commented on #33
That would be the sensible solution. The nonsensical solution would be to implement it using reduce, which is what this lib aims to provide.

The bug should be fixed in v0.15.1

[2019-08-07 20:42] evanplaice commented on #31
Added in v0.16

[2019-08-07 20:42] #31 closed

[2019-08-07 22:03] evanplaice opened #34 "arrays.reduceRight"
Performs reduce on an array in reverse order (last->first)

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_.reduceRight](https://lodash.com/docs/4.17.15#reduceRight)
- [Array.prototype.reduce()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce)

[2019-08-07 22:04] evanplaice commented on #34
Added in v0.17

[2019-08-07 23:22] evanplaice opened #35 "arrays.fill"
Fills a range of items in the array with a specified value.

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

## References

- [_.fill()](https://lodash.com/docs/4.17.15#fill)

[2019-08-07 23:57] evanplaice commented on #32
Added in v0.18

[2019-08-07 23:57] #32 closed

[2019-08-08 00:03] evanplaice opened #36 "arrays.findIndex"
The findIndex() method returns the index of the first element in the array that satisfies the provided testing function. Otherwise, it returns -1, indicating that no element passed the test.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [Array.prototype.findIndex - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obje

[2019-08-08 00:06] evanplaice opened #37 "arrays.findLastIndex"
Find the index of the last item that matches or -1 if there is no match.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

- [_.findLastIndex()](https://lodash.com/docs/4.17.15#findLastIndex)

[2019-08-17 16:58] evanplaice commented on #35
Added in v0.19

[2019-08-17 16:58] #35 closed

[2019-09-17 02:25] evanplaice opened #38 "arrays.some"
some calls a function (the "test" function, defined by you) on each element of an array, and returns a boolean indicating whether or not the test function returned a truthy value for any element in the array. It "short circuits" as much computation as possible by terminating the array iteration as soon as an element is encountered for which the test function returns a truthy value

## Checklist

-

[2019-09-17 02:29] evanplaice opened #39 "arrays.every"
The every() method tests whether all elements in the array pass the test implemented by the provided function. It returns a Boolean value.

It always returns true if the array is empty

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [Array.prototype.every - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array

[2019-09-17 02:31] evanplaice opened #40 "arrays.find"
The find() method returns the value of the first element in the provided array that satisfies the provided testing function.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [Array.prototype.find - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find)

[2019-09-17 03:00] evanplaice opened #41 "arrays.indexOf"
The indexOf() method returns the first index at which a given element can be found in the array, or -1 if it is not present.

## Checklist

- [x] implemented
- [x] documented
- [x] tested
- [x] linted

## Details

[code]

## References

 - [Array.prototype.indexOf - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/indexOf)

[2019-09-17 03:01] evanplaice opened #42 "strings.indexOf"
The indexOf() method returns the index within the calling String object of the first occurrence of the specified value, starting the search at fromIndex. Returns -1 if the value is not found.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [strings.indexOf - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Stri

[2019-09-17 03:03] evanplaice opened #43 "Revisit arrays.concat"
## Expected behaviour

The current implementation flattens the output

## Actual behaviour

Is this correct?

## References

[2019-09-17 03:05] evanplaice opened #44 "arrays.flat"
**Notice: The existing implementation doesn't match spec. Feel free to use it or trash it.**

The flat() method creates a new array with all sub-array elements concatenated into it recursively up to the specified depth.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

Should this be implemented iteratively or recursively. Study the MDN documentation in more depth before imp

[2019-10-23 00:20] cesar-cb commented on #43
Hey, can I have this issue ?

[2019-10-28 02:48] jkvyff commented on #41
Heya, tried my hand at this method. I think I followed the spirit, but let me know about using if statements before the reduce. All the best.a

[2019-10-28 03:53] evanplaice commented on #41
If statements to exit early on edge cases are acceptable.

Would you mind removing the builds (ie `.cjs/.esm`) and generated doc (ie `.md`). As of the update early today, all build steps (ie doc, bundles, docs, typings) are automatically applied when a new version is published. I still need to update `CONTRIBUTING.md` to reflect this.

Otherwise LGTM

[2019-10-28 03:55] evanplaice commented on #41
Almost forgot. Great job on this, for the first person (other than me) to implement a new operator you managed to cover all the bases. I'm impressed.

[2019-10-28 05:11] evanplaice commented on #41
Thank you for your contribution :+1:

If you'd like your name added to the `contributors` in package.json, feel free to add it in another PR.

Here's an example

[code]
The `email` and `url` fields are optional.

Otherwise, just close this issue again.

[2019-11-05 22:53] evanplaice opened #49 "arrays.flatten"
Flatten takes an array containing n-levels of nested arrays and flattens them into a one-dimensional array.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

Should this be implemented iteratively or recursively. Study the lodash documentation in more depth before implementing.

## References

 - [_.flatten()](https://lodash.com/docs/2.4.2#flatten)

[2019-11-06 00:18] evanplaice commented on #40
Added in 0.21

[2019-11-06 00:18] #40 closed

[2019-11-06 00:21] evanplaice commented on #39
Added in 0.22

[2019-11-06 19:43] evanplaice commented on #41
Added in 0.20

[2019-11-07 04:29] evanplaice commented on #4
Added in 0.24

[2019-11-07 04:29] #4 closed

[2019-11-08 03:59] evanplaice commented on #9
Added in 0.25

[2019-11-08 18:49] evanplaice opened #56 "arrays.frequency"
Takes an array of similar values and returns an object mapping each unique item to the number of items it occurs in the array.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

Reference implementation

[code]

## References

 - [tweet](https://twitter.com/Carlillo/status/1192526222208749569?s=20)

[2019-11-08 19:44] evanplaice opened #57 "arrays.head"
Gets the first element of the array

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References
 - [_.head](https://lodash.com/docs/#head)

[2019-11-08 19:48] evanplaice opened #58 "objects.fromEntries"
The inverse operation of `Object.prototype.entries()` This takes an array of `[property, value]` arrays and returns an object.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [_.fromPairs](https://lodash.com/docs/#fromPairs)
- [Object.fromEntries](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/fromEntries)

[2019-11-08 19:52] evanplaice opened #59 "arrays.initial"
Gets all but the last element of a the array

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_.initial](https://lodash.com/docs/#initial)

[2019-11-08 20:22] evanplaice opened #60 "arrays.intersection"
Creates an array of unique values that are included in all given arrays

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

One possible approach:

Use something like frequency then filter the results so only the values that have the frequency of `input.length` are returned.

## References

 - [_.intersection](https://lodash.com/docs/#intersection)

[2019-11-08 20:25] evanplaice opened #61 "arrays.join"
Joins an array of values into a string separated by a defined or default separator

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.join](https://lodash.com/docs/#join)

[2019-11-08 20:42] evanplaice opened #62 "arrays.last"
Gets the last element of an array

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_.last](https://lodash.com/docs/#last)

[2019-11-08 20:51] evanplaice commented on #59
Even for this library, implementing this operator using reduce would be incredibly inefficient.

[2019-11-08 20:52] #59 closed

[2019-11-08 20:53] evanplaice commented on #62
Implementing this using reduce is really inefficient. That's why `Array.pop exists`

[2019-11-08 20:56] evanplaice commented on #57
Doing this with reduce would be really inefficient. `Array.shift()` should be used instead

[2019-11-08 20:56] #62 closed

[2019-11-08 20:56] #57 closed

[2019-11-10 19:20] evanplaice commented on #38
Added in 0.26

[2019-11-10 19:49] evanplaice opened #64 "arrays.lastIndexOf"
Like indexOf but it iterates from right to left

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.lastIndexOf](https://lodash.com/docs/#lastIndexOf)

[2019-11-10 19:52] evanplaice opened #65 "arrays.nth"
Gets the element at index `n` in the array. If `n` is negative, the index is relative to the end of the array.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

[2019-11-10 19:53] evanplaice commented on #65
Creating an operator for this doesn't make sense. Use the standard array index accessor `array[n]` instead.

[2019-11-10 19:53] #65 closed

[2019-11-10 19:56] evanplaice opened #66 "arrays.pull"
Remove all of the given values from an array

*Note: Unlike lodash's implementation, this operator should not mutate the input array. Keep it functional.*

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.pull](https://lodash.com/docs/#pull)

[2019-11-10 19:58] evanplaice opened #67 "arrays.remove"
Removes all the items from the array based on the provided predicate

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_.remove](https://lodash.com/docs/#remove)

[2019-11-10 19:59] evanplaice commented on #67
Closed as duplicate of `arrays.filter`

[2019-11-10 19:59] #67 closed

[2019-11-10 20:02] evanplaice opened #68 "arrays.slice"
Extracts a slice of an array from `start` to `end`

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.slice](https://lodash.com/docs/#slice)

[2019-11-10 20:04] evanplaice opened #69 "arrays.tail"
Get all but the first element of an array

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_.tail](https://lodash.com/docs/#tail)

[2019-11-10 20:06] evanplaice commented on #69
Iterating over an entire array just to remove the first value is really inefficient. It's much easier just to use `Array.prototype.shift` to remove the first item.

[2019-11-10 20:06] #69 closed

[2019-11-10 20:08] evanplaice opened #70 "arrays.take"
Slice `n` items from the start of the array

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.take](https://lodash.com/docs/#take)

[2019-11-10 20:09] evanplaice opened #71 "arrays.takeRight"
Slice `n` elements from the end of an array

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.takeRight](https://lodash.com/docs/#takeRight)

[2019-11-10 20:40] evanplaice opened #74 "arrays.union"
Creates an array of unique from all given arrays

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_union](https://lodash.com/docs/#union)

[2019-11-10 20:45] evanplaice opened #76 "arrays.unique"
Removes duplicates form an array

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

Values are in insertion-order

## References

- [_.uniq](https://lodash.com/docs/#uniq)
 - [Set - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set)

[2019-11-10 21:23] evanplaice commented on #37
Added in 0.27

[2019-11-10 21:23] #37 closed

[2019-11-10 21:31] evanplaice commented on #76
Added in 0.28

[2019-11-10 21:31] #76 closed

[2019-11-14 01:30] evanplaice commented on #13
Added in 0.29

[2019-11-14 01:41] evanplaice commented on #15
Added in 0.30

[2019-11-14 01:41] #15 closed

[2019-11-20 23:51] evanplaice commented on #14
Added in 0.31

[2019-11-21 00:10] evanplaice commented on #70
Added in 0.32

[2019-11-21 00:10] #70 closed

[2019-11-21 00:20] evanplaice opened #89 "Improve complexity of objects.include/objects.exclude"
The current implementation uses a second, nested reduce to perform lookups on the input `filter` param. This makes the time complexity of the function O(n²).

To improve this, `filter` can be fed into a Set at the start of the function then lookups can be called via `filterSet.has()`. This will reduce individual lookups to O(1) and reduce the overall time complexity of the function to O(n).

[2019-11-21 00:23] evanplaice commented on #43
Fixed in 0.32.1

[2019-11-21 00:23] #43 closed

[2019-11-21 01:37] evanplaice commented on #36
Added in 0.33

[2019-11-21 01:37] #36 closed

[2019-11-21 01:42] evanplaice commented on #58
Added in 0.34

[2019-11-21 01:55] evanplaice commented on #42
Added in 0.35

[2019-11-21 02:13] evanplaice commented on #74
Added in 0.36

[2019-11-21 02:13] #74 closed

[2019-11-21 02:31] evanplaice commented on #71
Added in 0.37

[2019-11-21 02:31] #71 closed

[2019-11-21 02:31] evanplaice commented on #89
Fixed in 0.37.1

[2019-11-21 02:31] #89 closed

[2019-11-21 04:26] evanplaice commented on #61
Added in 0.38

[2019-11-21 23:11] evanplaice commented on #68
Added in 0.39

[2019-11-22 00:07] evanplaice commented on #66
Added in 0.40

[2019-11-22 00:07] #66 closed

[2019-11-22 04:19] evanplaice commented on #56
@JosiahRooney FYI, I assigned this issue to myself since I am unable to assign it to you directly.

[2019-11-22 04:36] evanplaice opened #96 "strings.chomp"
Removes record separator characters (ex `\n`) from the end of a string.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [chomp (String) - APIDoc.com/ruby](https://apidock.com/ruby/String/chomp)
 - [String - RubyDoc.org](https://ruby-doc.org/core-2.4.0/String.html)

[2019-11-22 08:23] evanplaice commented on #60
Added in 0.41

[2019-11-22 08:23] #60 closed

[2019-11-26 23:46] evanplaice opened #101 "Discussion: Planning 1.0"
### Arrays
- [x] [chunk](https://github.com/vanillaes/absurdum/issues/27) v0.12
- [x] [compact](https://github.com/vanillaes/absurdum/issues/28) v0.13
- [x] [difference](https://github.com/vanillaes/absurdum/issues/30) v0.15
- [x] [drop](https://github.com/vanillaes/absurdum/issues/31) v0.16
- [x] [dropRight](https://github.com/vanillaes/absurdum/issues/32) v0.18
- [x] [fill](https://github.com/va

[2019-11-27 00:57] evanplaice commented on #44
Added in 0.42

[2019-11-27 00:57] #44 closed

[2019-11-27 01:04] evanplaice commented on #96
Added in 0.43

[2019-11-27 01:04] #96 closed

[2019-11-27 01:51] evanplaice commented on #64
Added in 0.44

[2019-12-05 00:31] evanplaice commented on #49
Added in 0,45

[2019-12-05 00:31] #49 closed

[2019-12-05 00:59] evanplaice commented on #101
@jkvyff I added the planned 'object' operators for 1.0

If you want to work on one but there's no open issue, feel free to create one. Just use the 'operator' issue template.

[2019-12-05 01:01] evanplaice commented on #56
@JosiahRooney Are you still planning to add this operator? Do you need help?

[2019-12-07 17:41] jkvyff opened #103 "objects.keys"
Return an array of an objects enumerable keys

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

To accomplish this, must convert object to array, options include:
- native Object.entries and reduce to just keys
- native Object.keys(serve as alias)

## References

 - [Object.keys()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/keys)

[2019-12-09 19:31] evanplaice commented on #103
Added in 0.46

[2019-12-10 02:46] jkvyff opened #105 "objects.invert"
Creates a new object with key-value pairs inverted, in the case of duplicate values the latter value will overwrite the previous

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

## References

 - [_.invert](https://lodash.com/docs/4.17.15#invert)

[2019-12-10 02:50] evanplaice commented on #105
FYI, if you want to take on `arrays.frequency` it's all yours.

[2019-12-10 03:32] evanplaice commented on #105
@jkvyff Your work on objects.invert got pushed to the master branch and some of the tests are failing.

https://github.com/vanillaes/absurdum/commit/6832265dc3e3ecec800e5f6ed9483ee603eb4d0b/checks?check_suite_id=350350872

[2019-12-10 04:14] jkvyff commented on #105
My mistake, I switched branches before making the changes to the tests.

[2019-12-10 04:30] evanplaice commented on #105
It's all good

Not publishing a broken build to NPM is what matters and the CD pre-checks make that impossible. 😁

[2019-12-10 20:16] evanplaice commented on #105
Added in 0.47

[2019-12-10 20:16] #105 closed

[2019-12-11 02:04] jkvyff commented on #56
I just went with the reference implementation

[2019-12-11 05:01] evanplaice commented on #56
Added in 0.48

[2019-12-11 05:01] #56 closed

[2019-12-12 06:05] jkvyff opened #108 "Objects.pick"
Creates a new object from properties selected by their key values as strings or an array of strings

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References
 - [_pick](https://lodash.com/docs/4.17.15#pick)

[2019-12-12 07:59] evanplaice commented on #108
Added in 0.50

[2019-12-12 07:59] #108 closed

[2019-12-12 21:00] jkvyff opened #110 "Should we add an engines field to the package.json"
Perhaps as this repo requires very new feature, it could check node version as a catch for people trying out the repo but getting strange errors and returning a more helpful error.

I also wonder what the best way to find the min version required.

[code]

[2019-12-12 21:10] evanplaice commented on #110
I'm a bit conflicted about this. This library ships a CommonJS compatibility bundle so it can be used with pre-13.2 versions of Node.

We could add pkg.engines and update the notes about backward compatibility in README.md

What do you think?

[2019-12-12 21:27] evanplaice commented on #110
If you want to add it to both `absurdum` and `computer-science`, I'm good with it.

[2019-12-12 22:17] jkvyff commented on #110
So what would prompt someone to check pkg.engines in that case?
If just the readme, perhaps just having update notes there is simpler/more maintainable.

And functionality of the library could have a differing requirement from developing/testing it.

[2019-12-12 23:41] evanplaice commented on #110
`pkg.engines` works by throwing a warning during install if the node version is too low

Adding a short note to README.md like I did [here](https://github.com/vanillaes/csv-es#commonjs) should be enough.

A year from now, these patterns won't be so bleeding edge. For now, if `pkg.engines` becomes an annoyance, we'll hear about it from the users in the issues. Otherwise, I wouldn't stress about it

[2019-12-12 23:46] evanplaice commented on #110
Trust me. If this package becomes popular (ie consistent >2K weekly downloads) we'll start to hear from users about every single little flaw.

Good OSS projects aren't good because of the devs who write them. They're good because users relentlessly nitpick even the sloppiest code bases into good shape. That's the beauty of OSS.

[2019-12-13 01:42] #110 closed

[2019-12-13 02:08] evanplaice opened #112 "Add objects.at"
Creates an array of values corresponding to paths of object.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_at](https://lodash.com/docs/#at)

[2019-12-13 02:10] evanplaice opened #113 "Add objects.create"
Creates an object that inherits from the prototype object. If a properties object is given, its own enumerable string keyed properties are assigned to the created object.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_.create](https://lodash.com/docs/#create)

[2019-12-14 01:08] jkvyff opened #114 "Add objects.values"
Values should return all values from an object in an array

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details
Recommendation to add as an alias for Object.values for same reason as Objects.keys

[code]

## References

- [Object.values](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Object/values)
 - [_.values](https://lodash.com/docs/4.17.15#v

[2019-12-14 04:51] evanplaice commented on #114
Added in 0.51

[2019-12-14 04:51] #114 closed

[2019-12-15 00:27] jkvyff opened #117 "Add objects.findKey"
FindKey will return the key value of the first object value it encounters that matches or returns true for the predicate

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details
A slight amalgam of version 3 and 4 of Lodash's implementation, with allowing for both array selection notation as well as a 'this' argument.

[code]

## References
 - [_.findKey](https://lodash.com/docs/3.1

[2019-12-18 05:15] reed-jones opened #120 "Array.tap uses a forEach instead of reduce"
Fun package! Found a "problem"

array.tap uses forEach instead of .reduce

[2019-12-18 05:45] evanplaice commented on #120
ROFL you caught me. I was wondering if/when someone would find that.

[2019-12-18 15:52] reed-jones opened #122 "objects.mapKeys"
Creates a new object with the same values as the original, but with each key transformed using the supplied function.
[code]

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

## References

 - [_.mapKeys](https://lodash.com/docs/4.17.15#mapKeys)

[2019-12-19 03:13] evanplaice commented on #117
Added in 0.52

[2019-12-19 03:13] #117 closed

[2019-12-19 03:15] evanplaice commented on #112
Added in 0.53

[2019-12-19 03:15] #112 closed

[2019-12-19 03:18] #120 closed

[2019-12-19 03:26] #122 closed

[2019-12-19 03:27] evanplaice commented on #122
Added in 0.54

[2019-12-20 23:49] jkvyff opened #124 "arrays.unzip"
unzip accepts an array of zipped elements and returns them to their pre zipped arrangement as collections by element index in zipped arrays.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

Implementation can follow Lodash as there is no "MSDN" unzip which was used in the zip implementation.

However, zip's current implementation has some differences, like accepting a predi

[2019-12-21 19:39] evanplaice commented on #124
Added in 0.55

[2019-12-21 19:39] #124 closed

[2019-12-22 22:31] jkvyff commented on #113
As part of an implementation of a create method, one would probably need to use:
 [Object.setPrototypeOf()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf)
Though there appears to be problems with implementing this with good performance.

Also, any implementation would probably require new, create, or a syntactic sugar version of them. Howeve

[2019-12-29 01:55] evanplaice commented on #113
We could prune this function altogether. At some point, I'll probably end up removing most/all of the functions that are duplicates of built-ins anyway.

[2019-12-29 02:00] jkvyff commented on #113
I'm good with that as well.

[2019-12-29 02:02] evanplaice commented on #113
How do you feel about changing the focus of this project? Instead of 'just for practice', start promoting it as a general purpose utility library.

The design should hold up. Every operator is stand-alone which is optimal for tree shaking. Every operator is idempotent because reduce. And perf should hold up against the alternatives.

BTW, you should be included in `package.json` as a co-author. Yo

[2019-12-29 02:06] evanplaice commented on #113
Since `pkg.author` is only meant for one name, I switched it to `pkg.contributors' so you can add your info if you'd like.

[2019-12-29 02:22] jkvyff commented on #113
That makes sense, I have loved it being consistently idempotent, removes a whole category of bugs.
Also, allows for easy modifications for specific functionality.

[2019-12-29 07:45] jkvyff opened #126 "objects.merge"
Merges objects to return a single object like assign. However, array and object property values are merged recursively while other values are overwritten if the have the same key.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.merge](https://lodash.com/docs/4.17.15#merge)

[2019-12-30 03:16] evanplaice commented on #126
Added in 0.56

[2019-12-30 03:16] #126 closed

[2019-12-30 03:16] #113 closed

[2019-12-30 20:25] jkvyff opened #131 "object.defaults"
"Defaults" combines enumerable string keyed properties of provided objects into a new object.
When iterated through from left to right, if key already exists on new object, it is ignored.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.defaullts](https://lodash.com/docs/4.17.15#defaults)

[2019-12-30 22:08] evanplaice commented on #131
Added in 0.58

[2019-12-30 22:08] #131 closed

[2019-12-31 18:41] jkvyff opened #133 "objects.has"
Checks if path is a direct property of object.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.has](https://lodash.com/docs/4.17.15#has)

[2019-12-31 20:23] jkvyff opened #135 "arrays.without"
Creates a copy of the input array that does not contain any of the values to be excluded, using [SameValueZero](http://ecma-international.org/ecma-262/7.0/#sec-samevaluezero) for equality comparisons

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.without](https://lodash.com/docs/4.17.15#without)

[2019-12-31 21:25] jkvyff opened #137 "unset and omit"
Both "unset" and "omit" take a path for an object and delete the property at that path, though "unset" returns boolean while "omit" returns the object.

While it may still be useful to know if a property can be deleted, as unset would no longer mutate the object it would be considerably less useful. Also, perhaps "unset" provides different enough functionality to need a better name like "removable

[2019-12-31 21:34] evanplaice commented on #137
Good point. Omit accomplishes the same end result, and testing for the presence of an object reference rather than a boolen return value is a trivial change.

I'm good with adding `unset` to the excluded list for now. It can always be added at a later date if users explicitly request it.

[2019-12-31 21:55] jkvyff commented on #133
oops, wrong return type in the docs, should be boolean

[2019-12-31 23:10] evanplaice commented on #133
Added in 0.59

[2019-12-31 23:10] #133 closed

[2019-12-31 23:17] evanplaice commented on #137
I added `unset` to the list of excluded operators.

[2019-12-31 23:17] #137 closed

[2019-12-31 23:29] jkvyff opened #138 "objects.get"
Get returns the value at path of object. If the resolved value is undefined, the defaultValue is returned in its place.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.get](https://lodash.com/docs/4.17.15#get)

[2019-12-31 23:50] evanplaice commented on #135
Added in 0.60

[2019-12-31 23:50] #135 closed

[2019-12-31 23:58] evanplaice commented on #138
Added in 0.61

[2019-12-31 23:58] #138 closed

[2020-01-01 02:35] jkvyff opened #140 "objects.mapValues"
Creates an object with the same keys as object and values generated by running each own enumerable string keyed property of object thru iteratee. The iteratee is invoked with three arguments:
(value, key, object).

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details
Note: support differs from Lodash by not offering string property path shorthand, must be a function.

[code]

##

[2020-01-01 03:41] evanplaice commented on #140
Good call leaving the string version. Map should represent a transition/function, not property lookup via string.

[2020-01-01 21:56] jkvyff opened #142 "mapKeys and mapValues implementation"
mapKeys currently differs from mapValues by not allowing just the object to be passed without any function and it would be nice to have them have more similar implementations.

### We have a few options to fix this:
1. Restrict the ability to pass no function on mapValues
2. Use an implementation closer to Lodash's spec by having a default function of (x) => x
3. Change mapKeys to simply return th

[2020-01-02 06:39] evanplaice commented on #140
Added in 0.62

[2020-01-02 06:40] #140 closed

[2020-01-02 06:42] evanplaice commented on #142
You made the right call with 3. Map is supposed to apply the function to each value, no function means no function applied. Not mutating the input object makes the most sense.

[2020-01-02 07:35] jkvyff opened #144 "objects.forIn"
forIn iterates over own and inherited properties and invokes function on property with three arguments: (value, key, object). Returns input object.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.forIn](https://lodash.com/docs/4.17.15#forIn)

[2020-01-02 23:04] jkvyff opened #146 "objects.findLastKey"
FindLastKey will return the key value of the last key whose property value it encounters that matches or returns true for the predicate

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details
A slight amalgam of version 3 and 4 of Lodash's implementation, with allowing for both array selection notation as well as a 'this' argument.

[code]

## References
 - [_.findLastKey](https://

[2020-01-03 00:45] jkvyff opened #148 "Leave out toPairs?"
ToPairs seems to basically serve as alias for Object.entries. Should we preserve Lodash alias names and point to VanillaJS methods?

## Notes

## References

 - [_.toPairs](https://lodash.com/docs/4.17.15#toPairs)

[2020-01-04 01:26] jkvyff opened #149 "arrays.xor"
Creates an array of unique values that is the symmetric difference of the given arrays.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.xor](https://lodash.com/docs/4.17.15#xor)

[2020-01-05 02:39] jkvyff opened #151 "objects.transform"
Transform, transforms an object to a new accumulator object which is the result of running each of its own enumerable string keyed properties through an iteratee function.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details
- Similar to reduce, but you don't need to return a value in function, just effect the accumulator and accumulator of the same type as input object will be

[2020-01-05 03:32] evanplaice commented on #144
Added in 0.63

[2020-01-05 03:32] #144 closed

[2020-01-05 03:33] evanplaice commented on #142
Fixed in 0.62.1

[2020-01-05 03:33] #142 closed

[2020-01-05 03:34] evanplaice commented on #148
Sounds good to me :+1:

[2020-01-05 03:34] #148 closed

[2020-01-05 03:45] jkvyff opened #153 "omit to be removed in Lodash 5.0.0"
Just noticed "omit" is to be removed in favor of "pick" for Lodash's next big release.
Is there enough utility for us to support it?

## Notes

I think it would still be useful, but it will likely and up a slower implementation than pick like it is for Lodash.

## References

 - [Lodash Roadmap](https://github.com/lodash/lodash/wiki/Roadmap)
- [_.pick](https://lodash.com/docs/4.17.15#pick)
- [_.om

[2020-01-05 04:04] evanplaice commented on #153
I'm good with leaving it out

[2020-01-05 04:24] evanplaice commented on #153
Looking through the Lodash changelog I noticed a few other changes worth considering.

_.flatten is changing to be shallow by default. I think we can match this by renaming the current flat -> flatten and remove the existing flatten implementation altogether.

The Collections secrton is being removed and the operators that aren't removed will be consolidsted into the array and object sections. It'

[2020-01-05 18:42] jkvyff opened #154 "objects.result"
Result, returns the value at path of object. If the resolved value is undefined, the defaultValue is returned in its place. If the returned value would be a function, it is resolved with a this binding to the object.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

[code]

## References

 - [_.result](https://lodash.com/docs/4.17.15#result)

[2020-01-05 19:13] jkvyff opened #156 "test testing incorrect function for mutation"
forIn and mapValues are testing other functions for mutation in their last tests

[2020-01-05 19:58] jkvyff opened #158 "objects.assign"
Assign merges object properties from all supplied objects. If a property already exists, then it is overwritten when merged from left to right.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.assign](https://lodash.com/docs/4.17.15#assign)

[2020-01-05 20:56] evanplaice commented on #146
Added in 0.64

[2020-01-05 20:56] #146 closed

[2020-01-05 21:09] evanplaice commented on #149
Added in 0.65

[2020-01-05 21:09] #149 closed

[2020-01-05 21:13] evanplaice commented on #149
@jkvyff Great Job! That concludes the `arrays` operators for 1.0. I'll run through the planning for the `strings` operators so you have more to pick and choose from.

[2020-01-05 21:51] evanplaice commented on #154
Added in 0.66

[2020-01-05 21:51] #154 closed

[2020-01-05 21:53] evanplaice commented on #156
Fixed in 0.65.1

[2020-01-05 21:53] #156 closed

[2020-01-05 22:06] evanplaice commented on #158
Added in 0.67

[2020-01-05 22:06] #158 closed

[2020-01-06 00:50] jkvyff opened #160 "Implementation detail in Merge"
In implementing merge, I choose to include that if at a certain level of merging, when merging an array into an array  and comparing values that aren't undefined or other objects, the function will check if an arrays value exists in the other array. If it doesn't exist it will push the value to the end of the array to merge them.

However, this could make the function much slower with bigger array

[2020-01-06 01:21] evanplaice commented on #160
I'm good with this :+1:

I wonder where Lodash's version of merge was sourced from. I assume it would work like a union (ie how you implemented it) but that's clearly not the case.

Good catch BTW, that's a pretty obscure bug.

[2020-01-06 02:24] jkvyff opened #161 "objects.defaultsDeep"
Merges properties recursively, but once a property is set, additional values of the same property are ignored.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.defaultsDeep](https://lodash.com/docs/4.17.15#defaultsDeep)

[2020-01-06 05:12] jkvyff opened #163 "Should Set and Update return objects instead of values?"
Set and update are for changing a value at the end of a path, however in the lodash functions, the functionality is arguably in that they mutate the original object. However, they only return the mutated value where absurdum should probably return the new object with an updated value.

## References

 - [_.set](https://lodash.com/docs/4.17.15#set)
 - [_.update](https://lodash.com/docs/4.17.15#upda

[2020-01-06 05:39] evanplaice commented on #163
I'm conflicted. I want to say drop both but I can see their usefulness.

I agree that not mutating the input is the way to go. It's too bad Lodash doesn't combine both into the same operator.

Maybe we should add a mention that all operators are side-effect free. For example, an immutable set/update could be really useful for performing React state updates. It beats the ugly double spread sandwich

[2020-01-06 05:48] evanplaice commented on #160
Fixed in 0.67.2

[2020-01-06 05:48] #160 closed

[2020-01-06 16:25] evanplaice commented on #151
Added in 0.68

[2020-01-06 16:25] #151 closed

[2020-01-06 16:43] evanplaice commented on #161
@jkvyff Is it just me or does this seem like the same thing as `objects.deep`?

![Are objects.merge and objects.defaultDeep the same?](https://user-images.githubusercontent.com/303159/71832820-f39b6180-3068-11ea-874b-b2cedd9e2636.jpg)

[2020-01-06 16:44] evanplaice commented on #161
Added in 0.69

[2020-01-06 16:44] #161 closed

[2020-01-06 18:28] jkvyff commented on #163
something like this?
[immutibility-helper](https://github.com/kolodny/immutability-helper)

[2020-01-06 18:48] evanplaice commented on #163
More like what you originally suggested. Not mutating the input = immutable. Part of me still wants to exclude these from the 1.0 release.

How do you feel about it?

[2020-01-07 23:02] jkvyff commented on #163
The usefulness seems specific to a few different patterns, so it may be better just to implement when someone asks for it.

[2020-01-07 23:10] jkvyff opened #165 "strings.camelCase"
returns a string converted to camelcase

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]
## References

 - [_.camelCase](https://lodash.com/docs/4.17.15#camelCase)

[2020-01-08 01:34] evanplaice commented on #163
Cool. I'll going to table them for now.

[2020-01-08 01:34] #163 closed

[2020-01-09 00:17] jkvyff opened #167 "strings.pad"
Pads string on the left and right sides if it's shorter than length. Padding characters are truncated if they can't be evenly divided by length.
## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

[code]

## References

 - [_.pad](https://lodash.com/docs/4.17.15#pad)

[2020-01-09 00:22] evanplaice commented on #165
Added in 0.70

[2020-01-09 00:22] #165 closed

[2020-01-09 00:27] evanplaice commented on #167
Added in 0.71

[2020-01-09 00:27] #167 closed

[2020-01-09 03:33] jkvyff opened #169 "strings.capitalize"
Converts the first character of string to upper case and the remaining to lower case.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

## References

 - [_.capitalize](https://lodash.com/docs/4.17.15#capitalize)

[2020-01-09 04:24] evanplaice opened #171 "strings.lowerCase"
Converts all chars in a string to lower case.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]
## References

 - [_.lowerCase](https://lodash.com/docs/4.17.15#lowerCase)

[2020-01-09 04:25] #171 closed

[2020-01-09 04:26] evanplaice commented on #171
Closed b/c this method is already built-in to JS

[2020-01-09 04:28] evanplaice opened #172 "strings.upperCase"
Converts all chars in a string to upper case.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

## References

 - [_.upperCase](https://lodash.com/docs/4.17.15#upperCase)

[2020-01-09 04:29] evanplaice commented on #172
Closed b/c this method is already built-in to JS

[2020-01-09 04:29] #172 closed

[2020-01-09 04:42] evanplaice opened #173 "strings.trim"
Removes the whitespace from the beginning and ending of a string

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

## References

 - [_.trim](https://lodash.com/docs/4.17.15#trim)

[2020-01-09 04:42] evanplaice commented on #173
Closed b/c this method is already built-in to JS

[2020-01-09 04:42] #173 closed

[2020-01-09 04:48] evanplaice opened #174 "strings.trimEnd"
Removes the whitespace from the end of a string

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [String.prototype.trimEnd - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimEnd)
- [_.trimEnd - Lodash](https://lodash.com/docs/4.17.15#trimEnd)

[2020-01-09 04:48] evanplaice commented on #174
Closed as 'invalid' b/c this method is already built-in to JS

[2020-01-09 04:50] evanplaice opened #175 "strings.trimStart"
Removes the whitespace from the beginning of a string

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [String.prototype.trimStart - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart)
- [_.trimStart - Lodash](https://lodash.com/docs/4.17.15#trimStart)

[2020-01-09 04:51] evanplaice commented on #175
Closed as 'invalid' b/c this method is already built-in to JS

[2020-01-09 05:04] evanplaice opened #176 "strings.replace"
Replaces matches for pattern in string with replacement.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

## References

 - [_.replace](https://lodash.com/docs/4.17.15#replace)

[2020-01-09 05:04] evanplaice commented on #176
Closed as 'invalid' b/c this method is already built-in to JS

[2020-01-09 05:04] #176 closed

[2020-01-09 05:10] evanplaice opened #177 "strings.split"
Splits string by specified separator.

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

[code]

## References

 - [_.split](https://lodash.com/docs/4.17.15#split)

[2020-01-09 05:10] evanplaice commented on #177
Closed as 'invalid' b/c this method is already built-in to JS

[2020-01-09 05:10] #177 closed

[2020-01-09 06:46] evanplaice opened #178 "strings.deburr"
Converts all complex Latin characters to basic Latin letters in a string

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

console.log(strings.deburr('déjà vu'));

## References

- [_.deburr - Lodash](https://lodash.com/docs/4.17.15#deburr)

[2020-01-09 06:49] evanplaice opened #179 "strings.kebabCase"
Converts a string to kebab case

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.kebabCase](https://lodash.com/docs/4.17.15#kebabCase)

[2020-01-09 06:54] evanplaice opened #180 "strings.pascalCase"
Converts a string to pascal case (ex `ThisIsPascalCase`)

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [_.camelCase](https://lodash.com/docs/4.17.15#camelCase)
- [_.startCase](https://lodash.com/docs/4.17.15#startCase)

[2020-01-09 06:58] evanplaice opened #181 "strings.snakeCase"
Converts a string to snake case

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.snakeCase](https://lodash.com/docs/4.17.15#snakeCase)

[2020-01-09 07:06] evanplaice opened #182 "strings.template"
Creates a compiled template function that can interpolate data properties in "interpolate" delimiters

## Checklist

- [ ] implementation
- [ ] tests
- [ ] jsdoc

## Details

## References

 - [_.template](https://lodash.com/docs/4.17.15#template)

[2020-01-09 07:06] evanplaice commented on #182
Closed as 'invalid' b/c JS 'tagged template literals' already serve this need without introducing any new syntax/semantics.

[2020-01-09 07:06] #182 closed

[2020-01-09 07:10] evanplaice opened #183 "strings.truncate"
Truncates string if it's longer than the given maximum string length. The last characters of the truncated string are replaced with the omission string

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [_.truncate - Lodash](https://lodash.com/docs/4.17.15#truncate)

[2020-01-09 07:13] evanplaice opened #184 "strings.words"
Split a string into an array of its words

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [_.words - Lodash](https://lodash.com/docs/4.17.15#words)

[2020-01-09 08:37] evanplaice opened #185 "The Chopping Block for 1.0"
This issue outlines any and all operators that already exist in the code base but should really be removed before 1.0

## Definitely

- [x] arrays.concat - [Array.prototype.concat][]
- [x] arrays.every - [Array.prototype.every][]
- [x] arrays.flatten - duplicate of arrays.flat
- [x] arrays.indexOf - [Array.prototype.indexOf][]
- [x] arrays.join - [Array.prototype.join][]
- [x] arrays.lastIndexOf -

[2020-01-09 23:22] evanplaice commented on #169
Closed as invalid b/c performing this transform this with reduce would be really inefficient.

[2020-01-09 23:22] #169 closed

[2020-01-09 23:35] evanplaice commented on #180
Added in 0.72

[2020-01-09 23:35] #180 closed

[2020-01-09 23:35] evanplaice commented on #181
Added in 0.73

[2020-01-09 23:35] #181 closed

[2020-01-09 23:39] evanplaice commented on #179
Added in 0.74

[2020-01-09 23:39] #179 closed

[2020-01-09 23:43] evanplaice commented on #153
`objects.omit` is excluded and `objects.pick` remains. Closing this as resolved.

[2020-01-09 23:43] #153 closed

[2020-01-10 03:04] evanplaice commented on #29
Removed in 0.74.1

This operator is already covered by the built-in `Array.prototype.concat()` method

[2020-01-10 03:04] #29 closed

[2020-01-10 03:55] evanplaice commented on #49
Removed in 0.74.2

This operator is already covered by the built-in Array.prototype.flat() method

[2020-01-10 04:15] evanplaice commented on #175
Added back in because the operator is not supported in IE

[2020-01-10 04:16] evanplaice commented on #174
Added back in because the operator is not supported in IE

[2020-01-10 08:29] evanplaice commented on #58
Renamed to fromEntries in x

[2020-01-10 08:49] evanplaice opened #200 "Re-order README.md"
The `Objects` operators should come before `Strings`

[2020-01-11 02:54] jkvyff opened #201 "How should we handle Words breakdown?"
Words could behave many different ways to match words by default:
- Simple for those familiar with regex, matching /[\w]+/ and build out for specific cases later if desired.
- An opposite implementation of what we have for splitting before cases(snake, camel, kebab)
- Exactly behavior of Lodash for those familiar with its intricacies.

## References

 - [_.words](https://lodash.com/docs/4.17.15#wo

[2020-01-11 05:21] evanplaice commented on #41
Removed in 0.74.3

[2020-01-11 05:21] #41 closed

[2020-01-11 05:29] evanplaice commented on #61
Removed in 0.74.4

[2020-01-11 05:29] #61 closed

[2020-01-11 05:31] evanplaice commented on #64
Removed in 0.74.5

[2020-01-11 05:31] #64 closed

[2020-01-11 05:35] evanplaice commented on #34
Removed in 0.74.6

[2020-01-11 05:35] #34 closed

[2020-01-11 05:41] evanplaice commented on #5
Removed in 0.74.7

[2020-01-11 05:41] #5 closed

[2020-01-11 05:45] evanplaice commented on #68
Removed in 0.74.8

[2020-01-11 05:45] #68 closed

[2020-01-11 05:47] evanplaice commented on #103
Removed in 0.74.9

[2020-01-11 05:47] #103 closed

[2020-01-11 05:51] evanplaice commented on #42
Removed in 0.74.10

[2020-01-11 05:51] #42 closed

[2020-01-11 23:10] #58 closed

[2020-01-11 23:27] evanplaice commented on #201
TBH, I don't know. I like how Lodash makes the pattern configurable. That leaves the question, "What should the default behavior be?"

Does it make sense to split on spaces, match words but also remove punctuation chars? So.

... would return

[code]

That leaves one nasty edge case, single-quotes. A word containing a single-quote could be the end of a title. Ex

But it is also commonly used as a

[2020-01-11 23:30] evanplaice commented on #200
Not sure what I was thinking. The order is good as-is.

[2020-01-11 23:30] #200 closed

[2020-01-12 00:20] evanplaice opened #202 "objects.entries"
Returns an array of a given object's own enumerable string-keyed property `[key, value]` pairs.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

- [Object.entries - MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries)
- [_.entries -> _.toPairs - Lodash](https://lodash.com/docs/4.17.15#toPairs)

[2020-01-12 00:48] evanplaice opened #203 "Replace objects.include/exclude -> objects.filter?"
Include/exclude are my own invention. Their purpose is to selectively add/remove properties from an object by key. The original `include` was actually named `filterByKey`. Also, `object.includes` overlaps functionality with `objects.pick`.

That's good an all but I think it would be much more beneficial to have an object-specific filter method that allows the ability to include/exclude based on a

[2020-01-12 02:42] evanplaice commented on #203
@jkvyff What do you think?

[2020-01-12 15:54] jkvyff commented on #203
It would make sense to make it more flexible to the type of filtering desired.

Followup,  would you want to retain the dual focus of include/exclude with a filter/remove functionality but the remove function would return the object with instead of properties removed?

[2020-01-12 16:01] jkvyff opened #205 "Change operators with Object.entries to use Object.keys to improve cross browser compatibility"
As you pointed out, Object.entries is not supported by internet explorer.

All methods using Object.Entries should be able to be reworked to use Object.keys, do you see any downsides?

## References

 - [Object.entries](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries)
 - [Object.keys](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/

[2020-01-12 19:23] jkvyff commented on #203
I like the idea of just having filter to have a very flexible function while using not operator in user provided function to handle negation cases.

[2020-01-13 00:20] jkvyff commented on #183
This method doesn't really map well to reduce as it requires limiting the string to (options['length'] - the separator), then finding the last occurrence of a (regex/string) within that string and adding the separator after to that. Most of the work is in formatting and using regex to do that slightly unusual thing.

[2020-01-13 06:18] evanplaice commented on #178
Added in 0.75

[2020-01-13 06:18] #178 closed

[2020-01-13 06:33] evanplaice commented on #175
Added in 0.76

[2020-01-13 06:33] #175 closed

[2020-01-13 06:39] evanplaice commented on #174
Added in 0.77

[2020-01-13 06:39] #174 closed

[2020-01-13 06:45] evanplaice commented on #202
Added in 0.78

[2020-01-13 06:45] #202 closed

[2020-01-13 20:47] evanplaice commented on #183
Added in 0.79

[2020-01-13 20:47] #183 closed

[2020-01-13 20:57] evanplaice commented on #205
No. When this project started, IE support wasn't really considered. Now that I've spent many hours digging through documentation to plan the scope, I think adding 'ie polyfill' as a selling point will be good to attract users.

Since this change is non-breaking, lets table it until after the 1.0 release.

[2020-01-13 21:03] evanplaice opened #211 "IE Compatibility"
IE compatibility is a worthwhile target. This issue tracks the work to make that happen.

## Checklist

- [x] objects.defaultsDeep - replace Object.entries -> Object.keys v0.81.12
- [x] objects.forIn - replace Object.entries -> Object.keys v0.81.13
- [x] objects.invert - replace Object.entries -> object.keys v0.81.14
- [x] objects.mapKeys - replace Object.entries -> Object.keys v0.81.15
- [x] obje

[2020-01-13 21:04] #205 closed

[2020-01-14 04:10] evanplaice commented on #184
Added in 0.80

[2020-01-14 04:10] #184 closed

[2020-01-14 04:11] #201 closed

[2020-01-14 04:54] jkvyff opened #213 "objects.filter"
Filter iterates over an object and applies a function to each property, for all properties where the function returns true return that property in a new object.

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_.filter](https://lodash.com/docs/4.17.15#filter)

[2020-01-14 05:40] evanplaice commented on #213
Damn... You're fast. I was going to implement this tonight. I'll take care of removing include/exclude instead.

[2020-01-15 02:57] #203 closed

[2020-01-15 03:07] evanplaice commented on #213
Added in 0.81

[2020-01-15 03:07] #213 closed

[2020-01-15 04:32] #9 closed

[2020-01-15 06:08] evanplaice commented on #13
Removed in 0.81.1

[2020-01-15 06:08] #13 closed

[2020-01-15 06:13] evanplaice commented on #14
Removed in 0.81.2

[2020-01-15 06:13] #14 closed

[2020-01-15 06:27] evanplaice opened #217 "arrays.filter"
Checks each element with a provided predicate function. Returns all that return truthy

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_filter](https://lodash.com/docs/4.17.15#filter)

[2020-01-15 06:27] evanplaice commented on #217
Added in 0.2

[2020-01-15 06:27] #217 closed

[2020-01-15 06:33] evanplaice opened #218 "arrays.map"
Returns the array with the provided function applied to each item

## Checklist

- [x] implementation
- [x] tests
- [x] jsdoc

## Details

[code]

## References

 - [_map](https://lodash.com/docs/4.17.15#map)

[2020-01-15 06:33] evanplaice commented on #218
Added in 0.1

[2020-01-15 06:33] #218 closed

[2020-01-15 06:37] jkvyff commented on #211
Object.values would also need a replacement - [tc39 polyfill](https://github.com/tc39/proposal-object-values-entries/blob/master/polyfill.js)

[2020-01-15 06:42] evanplaice commented on #211
Added

[2020-01-15 06:50] evanplaice commented on #12
Added in 0.4

[2020-01-15 20:50] evanplaice commented on #12
Removed in 0.81.6

[2020-01-15 20:50] #12 closed

[2020-01-15 20:56] evanplaice commented on #38
Removed in 0.81.7

[2020-01-15 20:56] #38 closed

[2020-01-15 20:59] #185 closed

[2020-01-15 20:59] evanplaice commented on #39
Removed in 0.81.8

[2020-01-15 20:59] #39 closed

[2020-01-16 02:06] evanplaice opened #222 "Pre 1.0 Release Leftovers"
What else needs to be done before the 1.0 release drops?

## Notes

## References

[2020-01-16 02:13] evanplaice commented on #222
I have exhaustingly reviewed the list of operators. Everything that should be included is included, everything that shouldn't be included isn't. The only exceptions are `map`/`filter`. Should these be removed as well?

IMO, the README.md could use some work. Remove the "Funky Name" and "What's the Point" sections. Maybe add a section explainer that talks about the functional nature of these compon

[2020-01-16 19:09] jkvyff opened #223 "Should Absurdum have a Logo?"
Was wondering if Absurdum would need a logo?

Tried my hand at a few basic ones.

## Notes

Had these things in mind:
- Bold lines to be recognizable even when very small
 - Repeated shape at different sizes and orientations to connect loosely with how reduce adjusts and minimizes data.
- Abstract shapes that vaguely resemble creatures eyes, a loose nod to absurdist art
- Simple typographic logo,

[2020-01-16 19:48] evanplaice commented on #223
Yes, it definitely should

3 might have issues at smaller sizes. 4 the reduction in size metaphor stands out the most. 1 is the modt obvious.

[2020-01-17 19:17] jkvyff commented on #222
By a polyfill column, do you mean the functions that would require a polyfill to be IE compatible?

[2020-01-17 19:27] evanplaice commented on #222
Functions that could be used as polyfills because they don't exist in IE11

Name it "Polyfills" then add a link to the function/method on MDN.

I have the table partway done. I'll ping you to check it out once it's ready.

[2020-01-17 19:45] jkvyff commented on #222
A few notes:
- Both map and filter seem to be kept in many other utility libraries, while they aren't so useful as they are methods already built into the language. I do believe they serve an important purpose in being one of the first methods someone looking at source could turn to when seeing what an implementation prioritizes through a simple example.
- Sounds good on the readme, ill do that to

[2020-01-17 20:07] jkvyff commented on #223
I agree that on 1 and 4, perhaps a slight preference for 1 as I think it might gain more in being read as an 'a' then how much it loses by not being the same shape reduced twice.

If you are okay with it, we can try out slight tweaks to amount of rounding or gap for 'a' tail, otherwise the next question would be color.

I can send a vector file over for you to mess with if you would like.

[2020-01-17 21:06] evanplaice commented on #223
TBH, I like 1 as-is. Either way, the final decision on this is all yours.

There aren't any specific branding guidelines for this org so the color should be whatever you think looks best.

[2020-01-17 21:14] evanplaice commented on #222
- Cool
- Good point about map/filter. I was a bit conflicted b/c I've been in chopping block mode lately but I agree.
- don't worry about the operators table in the README.md. I'll have that done this afternoon.
- Yes, I wasn't sure if we should do this before or after 1.0. ITT, all the docs could use a good once-over to locate and fix any inconsistencies.

I'm trying to find a better JSDoc -> MD

[2020-01-19 02:08] jkvyff opened #226 "Add mutability test to all methods without"
## Introduction
Thought that the test suite should have a mutability test for each method, as one of the core features is being non-mutable.

## Notes
Also plan to fix a few other tests definitions(eg. missing parameters)

[2020-01-19 02:16] jkvyff commented on #222
Might be able to reach the [ESDoc2](https://github.com/esdoc2/esdoc2) person, though project is about the same level of active.

[2020-01-19 02:20] evanplaice commented on #222
Probably not worth the time. I don't just need ESDoc, I would also need to finish building the Markdown output.

[2020-01-19 02:22] evanplaice commented on #226
Included in 0.81.11

[2020-01-19 02:22] #226 closed

[2020-01-19 02:38] jkvyff commented on #222
I'm down to do a standardization of docs before 1.0, as it would still just be what is glaring for me.

Do:
- standardize terminology, as mentioned before
- fix typos or misspellings
- adding optional before optional parameter description

Delay:
- Rewordings of definitions for clarity
- Adding examples for each type of way to use function

[2020-01-19 02:49] evanplaice commented on #222
Sounds good to me.

[2020-01-19 21:59] jkvyff commented on #223
I like the orange, and found that it looks fairly nice with the 'Lato-semibold' font.

<img width="732" alt="Screen Shot 2020-01-19 at 1 56 11 PM" src="https://user-images.githubusercontent.com/8835646/72689178-9c16e000-3ac3-11ea-8418-8dc50a3fa16d.png">

[2020-01-19 22:37] evanplaice commented on #223
Wow... That looks slick

I granted you Admin privileges for the Absurdum repo. If you go to settings, on the main page there's a spot to set the 'social preview' for the project.

[2020-01-20 01:17] evanplaice commented on #222
Are we good to drop 1.0?

[2020-01-20 01:22] evanplaice commented on #222
Can you create a PR for this? Put the logo(s) in an 'assets' folder at the project root.

[2020-01-20 02:32] #211 closed

[2020-01-20 04:50] evanplaice commented on #223
Added in 0.82.0

[2020-01-20 04:50] #223 closed

[2020-01-20 04:54] evanplaice commented on #222
1.0 Released :+1:

[2020-01-20 04:54] #222 closed

[2020-01-27 21:32] evanplaice opened #238 "New Entry Points"
Node 13.7 introduced the new `pkg.exports` proposal

This will simplify the workflow for Node consumers. Instead of CJS (CommonJS) directly importing the CJS bundle, they can use a regular bare import. Ex `const absurdum = require('absurdum')`.

**BREAKING Experimental**
This changes the meaning of `pkg.main`. Instead of pointing to the ESM entry-point, it can be reassigned to the CJS bundle for b

[2020-01-27 22:10] #101 closed

[2020-02-04 08:52] evanplaice commented on #238
Added in v1.1.0

[2020-02-04 08:52] #238 closed

[2020-02-04 09:30] evanplaice opened #239 "Security Vulnerabilities?"
Just found this article about a security vilnerability in jQuery. It relies on exploiting object merge operations to manipulate the Object prototype.

https://snyk.io/vuln/SNYK-JS-JQUERY-174006

Since this lib provides similar functionality, we should probably audit the code for any potential vulnerabilities.

## Notes

## References

[2020-02-06 03:32] jkvyff commented on #239
Yep, we do have that structure. Though, it would appear to be less damaging as both objects are being merged onto a new object so it couldn't effect the input objects upstream. I will test what is possible this Friday.

[2020-02-08 22:55] jkvyff commented on #239
After a review, it would seem we are secure. Because when we set properties using previous objects, we have used Object.keys to grab any property names. and we never grab the redefined __proto__ property to set on the new object.

We would have to be careful of this depending on the implementation of functions using inherited properties to create new objects, but unless I missed something, the cur

[2020-02-09 00:10] jkvyff commented on #239
Also just made this to visualize part of the problem

[code]

[2020-02-09 04:43] evanplaice commented on #239
I was thinking of something more like [this](https://github.com/vanillaes/absurdum/blob/master/src/objects/forIn.js). Although, it doesn't mutate the proto.

If `objects.merge` worked recursively to merge both own properties and proto properties, that would be a concern. `_.set` was another operator mentioned in the report. We skipped that altogether.

On second thought, none of our operators muta

[2020-03-24 23:39] evanplaice commented on #239
Well, this lib doesn't suffer from any security vulnerabilities but some deeply nested dependencies did. The reason the bot patch didn't fix it was due to one specific deeply nested dependency of ESLint. I almost had to patch ESLint to fix it but fortunately the dep with the issue published a fix.

Gonna close this for now unless you can think of an other potential security vulnerability vectors.

[2020-03-24 23:39] #239 closed